import(data.table)
import(Biostrings)
import(IRanges)
import(Rsamtools)
import(GenomicAlignments)
import(pwalign)
export(get_CYP51_amplicon)
export(get_CYP51)
export(get_CYTB)
export(get_SDHD)
export(get_SDHC)
export(get_SDHB)
export(get_MFS1)
export(get_SDHB)
export(get_reference_sequences)